<div id="about_us" class="max-w-screen-xl mx-auto bg-primary-900 rounded-md">
  <div
    id="about_us_slide_in"
    class="flex flex-col md:flex-row px-8 bg-primary-50 py-16 rounded-md gap-20"
  >
    <div class="basis-1/2">
      <p class="text-left text-sm">We are a</p>
      <p class="font-helvetica text-4xl tracking-wide max-w-4xl text-left">
        Startup Business founded by a group of doctors, providing marketing
        service for healthcare industry in Myanmar.
      </p>
    </div>
    <div class="basis-1/2 flex flex-col gap-4 text-left md:text-center">
      <div class="basis-1/3 flex flex-col">
        <p class="font-helvetica text-3xl text-primary-900 font-semibold">3.5K+</p>
        <p class="text-base">Creative Contents</p>
      </div>
      <div class="basis-1/3 flex flex-col">
        <p class="font-helvetica text-3xl text-primary-900 font-semibold">80+</p>
        <p class="text-base">Campaigns</p>
      </div>
      <div class="basis-1/3 flex flex-col">
        <p class="font-helvetica text-3xl text-primary-900 font-semibold">5M+</p>
        <p class="text-base">Engagements</p>
      </div>
    </div>
  </div>
</div>

<script>
  import gsap from "gsap";

  function handleIntersection(
    entries: IntersectionObserverEntry[],
    _: IntersectionObserver
  ) {
    entries.forEach((entry: IntersectionObserverEntry) => {
      if (entry.isIntersecting) {
        gsap.from("#about_us_slide_in", {
          duration: 1,
          y: 140,
          opacity: 0,
        });
        observer.unobserve(target!);
      }
    });
  }

  const observer = new IntersectionObserver(handleIntersection);

  const target = document.getElementById("about_us");

  observer.observe(target!);
</script>
