<div id="navbar_hide_trigger">
  <div id="service" class="overflow-hidden">
    <section id="section1" class="parallax__item w-full h-screen relative p-4">
      <!-- <span
        class="absolute right-5 bottom-5 text-lg md:text-3xl leading-none z-10 font-bold text-primary-800"
        >#01</span
      > -->
      <div
        class="absolute left-0 top-0 w-full h-screen bg-cover bg-center bg-primary-100"
      >
      </div>

      <div
        class="flex flex-col gap-[4vh] md:gap-10 max-w-screen-lg mx-auto mt-[2vh]"
      >
        <p
          class="z-20 text-lg md:text-3xl leading-none font-bold text-primary-800"
        >
          #01
        </p>
        <div
          class="flex flex-col-reverse md:flex-row justify-center md:mt-20 gap-[4vh] md:gap-10"
        >
          <div class="z-20 grid grid-cols-2 gap-2 basis-1/2">
            <img
              src="assets/services/cm1.jpg"
              class="w-[100%] aspect-square object-cover"
            />
            <img
              src="assets/services/cm2.jpg"
              class="w-[100%] aspect-square object-cover"
            />
            <img
              src="assets/services/cm5.jpg"
              class="w-[100%] aspect-square object-cover"
            />
            <img
              src="assets/services/cm6.jpg"
              class="w-[100%] aspect-square object-cover"
            />
          </div>
          <div class="z-20 flex flex-col gap-[4vh] md:gap-6 basis-1/2">
            <h2
              class="text-lg md:text-3xl uppercase inline-block text-primary-800 font-bold"
            >
              Content Development By Medical Doctors
            </h2>
            <p class="text-base">
              Trust our team of experienced medical doctors to craft accurate,
              insightful, and patient-centric content. From blog posts to
              educational materials, our content development services ensure
              your messaging is both authoritative and accessible.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- //section1 -->

    <section
      id="section2"
      class="parallax__item w-full h-screen relative flex flex-col p-4"
    >
      <div
        class="absolute left-0 top-0 w-full h-screen bg-cover bg-center bg-primary-200"
      >
      </div>
      <div
        class="flex flex-col gap-[4vh] md:gap-10 max-w-screen-lg mx-auto mt-[2vh]"
      >
        <p
          class="z-20 text-lg md:text-3xl leading-none font-bold text-primary-800"
        >
          #02
        </p>
        <div
          class="flex flex-col-reverse md:flex-row justify-center md:mt-20 gap-[4vh] md:gap-10"
        >
          <div class="z-20 basis-1/2">
            <img
              src="assets/services/sm1.jpg"
              class="w-[100%] aspect-square object-cover"
            />
          </div>
          <div class="z-20 flex flex-col gap-[4vh] md:gap-6 basis-1/2">
            <h2
              class="text-lg md:text-3xl uppercase inline-block text-primary-800 font-bold"
            >
              Social Media Marketing
            </h2>
            <p class="text-base">
              Engage with your audience through strategic social media
              marketing. We create compelling campaigns that build your online
              presence, foster community interaction, and promote your
              healthcare services effectively across all major platforms.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- //section2 -->

    <section
      id="section3"
      class="parallax__item w-full h-screen relative flex flex-col p-4"
    >
      <div
        class="absolute left-0 top-0 w-full h-screen bg-cover bg-center bg-primary-300"
      >
      </div>
      <div
        class="flex flex-col gap-[4vh] md:gap-10 max-w-screen-lg mx-auto mt-[2vh]"
      >
        <p
          class="z-20 text-lg md:text-3xl leading-none font-bold text-primary-800"
        >
          #03
        </p>
        <div
          class="flex flex-col-reverse md:flex-row justify-center md:mt-20 gap-[4vh] md:gap-10"
        >
          <div class="z-20 grid grid-cols-2 gap-2 basis-1/2">
            <img
              src="assets/services/ep1.jpg"
              class="w-[100%] aspect-square object-cover"
            />
            <img
              src="assets/services/ep2.jpg"
              class="w-[100%] aspect-square object-cover"
            />
            <img
              src="assets/services/ep3.jpg"
              class="w-[100%] aspect-square object-cover"
            />
            <img
              src="assets/services/ep4.jpg"
              class="w-[100%] aspect-square object-cover"
            />
          </div>
          <div class="z-20 flex flex-col gap-[4vh] md:gap-6 basis-1/2">
            <h2
              class="text-lg md:text-3xl uppercase inline-block text-primary-800 font-bold"
            >
              Event Planning and Management
            </h2>
            <p class="text-base">
              From medical conferences to health awareness campaigns, our event
              planning and management services are designed to ensure your
              events are flawlessly executed and leave a lasting impression on
              attendees.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- //section3 -->

    <section
      id="section4"
      class="parallax__item w-full h-screen relative flex flex-col p-4"
    >
      <div
        class="absolute left-0 top-0 w-full h-screen bg-cover bg-center bg-primary-400"
      >
      </div>
      <div
        class="flex flex-col gap-[4vh] md:gap-10 max-w-screen-lg mx-auto mt-[2vh]"
      >
        <p
          class="z-20 text-lg md:text-3xl leading-none font-bold text-primary-800"
        >
          #04
        </p>
        <div
          class="flex flex-col-reverse md:flex-row justify-center md:mt-20 gap-[4vh] md:gap-10"
        >
          <div class="z-20 basis-1/2">
            <img
              src="assets/services/com1.jpg"
              class="w-[100%] aspect-square object-cover"
            />
          </div>
          <div class="z-20 flex flex-col gap-[4vh] md:gap-6 basis-1/2">
            <h2
              class="text-lg md:text-3xl uppercase inline-block text-primary-800 font-bold"
            >
              Community Management
            </h2>
            <p class="text-base">
              Build and nurture a vibrant online community with our dedicated
              community management services. We manage your forums, social media
              groups, and patient networks, fostering a supportive and
              informative environment for all members.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- //section4 -->

    <section
      id="section5"
      class="parallax__item w-full h-screen relative flex flex-col p-4"
    >
      <div
        class="absolute left-0 top-0 w-full h-screen bg-cover bg-center bg-primary-500"
      >
      </div>
      <div
        class="flex flex-col gap-[4vh] md:gap-10 max-w-screen-lg mx-auto mt-[2vh]"
      >
        <p
          class="z-20 text-lg md:text-3xl leading-none font-bold text-primary-200"
        >
          #05
        </p>
        <div
          class="flex flex-col-reverse md:flex-row justify-center md:mt-20 gap-[4vh] md:gap-10"
        >
          <div class="z-20 grid grid-cols-2 gap-2 basis-1/2">
            <img
              src="assets/services/vppp1.jpg"
              class="w-[100%] aspect-square object-cover"
            />
            <img
              src="assets/services/vppp2.jpg"
              class="w-[100%] aspect-square object-cover"
            />
            <img
              src="assets/services/vppp3.jpg"
              class="w-[100%] aspect-square object-cover"
            />
            <img
              src="assets/services/vppp4.jpg"
              class="w-[100%] aspect-square object-cover"
            />
          </div>
          <div class="z-20 flex flex-col gap-[4vh] md:gap-6 basis-1/2">
            <h2
              class="text-lg md:text-3xl uppercase inline-block text-primary-200 font-bold"
            >
              Video Production and Product Photography
            </h2>
            <p class="text-base">
              Showcase your services and products with high-quality video
              production and photography. Our team produces professional visual
              content that highlights the unique aspects of your healthcare
              offerings, boosting your brand's visual appeal.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- //section5 -->

    <section
      id="section6"
      class="parallax__item w-full h-screen relative flex flex-col p-4"
    >
      <div
        class="absolute left-0 top-0 w-full h-screen bg-cover bg-center bg-primary-600"
      >
      </div>
      <div
        class="flex flex-col gap-[4vh] md:gap-10 max-w-screen-lg mx-auto mt-[2vh]"
      >
        <p
          class="z-20 text-lg md:text-3xl leading-none font-bold text-primary-200"
        >
          #06
        </p>
        <div
          class="flex flex-col-reverse md:flex-row justify-center md:mt-20 gap-[4vh] md:gap-10"
        >
          <div class="z-20 basis-1/2">
            <img
              src="assets/services/mb1.png"
              class="w-[100%] aspect-square object-cover"
            />
          </div>
          <div class="z-20 flex flex-col gap-[4vh] md:gap-6 basis-1/2">
            <h2
              class="text-lg md:text-3xl uppercase inline-block text-primary-200 font-bold"
            >
              Media Buying
            </h2>
            <p class="text-base">
              Maximize your advertising budget with our expert media buying
              services. We strategically purchase ad spaces that reach your
              target audience, ensuring optimal exposure and return on
              investment for your healthcare campaigns.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- //section6 -->

    <section
      id="section7"
      class="parallax__item w-full h-screen relative flex flex-col p-4"
    >
      <div
        class="absolute left-0 top-0 w-full h-screen bg-cover bg-center bg-primary-700"
      >
      </div>
      <div
        class="flex flex-col gap-[4vh] md:gap-10 max-w-screen-lg mx-auto mt-[2vh]"
      >
        <p
          class="z-20 text-lg md:text-3xl leading-none font-bold text-primary-200"
        >
          #07
        </p>
        <div
          class="flex flex-col-reverse md:flex-row justify-center md:mt-20 gap-[4vh] md:gap-10"
        >
          <div class="z-20 grid grid-cols-2 gap-2 basis-1/2">
            <img
              src="assets/services/tm1.jpg"
              class="w-[100%] aspect-square object-cover"
            />
            <img
              src="assets/services/tm4.jpg"
              class="w-[100%] aspect-square object-cover"
            />
            <img
              src="assets/services/tm2.jpg"
              class="w-[100%] aspect-square object-cover"
            />
            <img
              src="assets/services/tm3.jpg"
              class="w-[100%] aspect-square object-cover"
            />
          </div>
          <div class="z-20 flex flex-col gap-[4vh] md:gap-6 basis-1/2">
            <h2
              class="text-lg md:text-3xl uppercase inline-block text-primary-200 font-bold"
            >
              Talent Management
            </h2>
            <p class="text-base text-white">
              Enhance your healthcare practice with our talent management
              services. We help you find, recruit, and retain top medical
              professionals and influencers, ensuring your team is composed of
              the best talent in the industry.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- //section7 -->

    <section
      id="section8"
      class="parallax__item w-full h-screen relative flex flex-col p-4"
    >
      <div
        class="absolute left-0 top-0 w-full h-screen bg-cover bg-center bg-primary-800"
      >
      </div>
      <div
        class="flex flex-col gap-[4vh] md:gap-10 max-w-screen-lg mx-auto mt-[2vh]"
      >
        <p
          class="z-20 text-lg md:text-3xl leading-none font-bold text-primary-200"
        >
          #08
        </p>
        <div
          class="flex flex-col-reverse md:flex-row justify-center md:mt-20 gap-[4vh] md:gap-10"
        >
          <div class="z-20 basis-1/2">
            <img
              src="assets/services/wd1.jpg"
              class="w-[100%] aspect-square object-cover"
            />
          </div>
          <div class="z-20 flex flex-col gap-[4vh] md:gap-6 basis-1/2">
            <h2
              class="text-lg md:text-3xl uppercase inline-block text-primary-200 font-bold"
            >
              Web Development
            </h2>
            <p class="text-base text-white">
              Dr. Nathan specializes in creating state-of-the-art websites
              tailored specifically for healthcare professionals and
              organizations. We build responsive, secure, and user-friendly
              websites that enhance patient engagement and showcase your
              expertise.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!-- //section8 -->

    <!-- <section
      id="section9"
      class="parallax__item w-full h-screen relative flex flex-col p-4"
    >
      <span class="absolute right-5 bottom-5 text-lg md:text-3xl leading-none z-10 font-bold"
        >#09</span
      >
      <div
        class="absolute left-0 top-0 w-full h-screen bg-cover bg-center bg-[url('assets/img/images10@2.jpg')] bg-primary-900"
      >
      </div>
      <h2 class="text-lg md:text-3xl font-bold z-20 uppercase inline-block">More</h2>
    </section> -->
    <!-- //section9 -->
  </div>
</div>

<script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  // Define types for the panels and tops
  type PanelElement = HTMLElement;

  const panels: PanelElement[] =
    gsap.utils.toArray<PanelElement>(".parallax__item");
  let tops: ScrollTrigger[] = [];
  let scrollTriggers: ScrollTrigger[] = [];

  // Function to create ScrollTriggers
  const createScrollTriggers = () => {
    tops = panels.map((panel) =>
      ScrollTrigger.create({ trigger: panel, start: "top top" })
    );

    panels.forEach((panel) => {
      scrollTriggers.push(
        ScrollTrigger.create({
          trigger: panel,
          start: () =>
            panel.offsetHeight < window.innerHeight
              ? "top top"
              : "bottom bottom",
          pin: true,
          pinSpacing: false,
        })
      );
    });

    scrollTriggers.push(
      ScrollTrigger.create({
        snap: {
          snapTo: (_: number, self: ScrollTrigger) => {
            const panelStarts = tops.map((st) => st.start);
            const snapScroll = gsap.utils.snap(
              panelStarts,
              self.scroll() as number
            );
            return gsap.utils.normalize(
              0,
              ScrollTrigger.maxScroll(window),
              snapScroll
            );
          },
          duration: 0.5,
        } as any,
      })
    );
  };

  // Function to kill all ScrollTriggers
  const killScrollTriggers = () => {
    scrollTriggers.forEach((trigger) => trigger.kill());
    scrollTriggers = [];
    tops = [];
  };

  // Create an IntersectionObserver to observe the #service element
  const serviceElement = document.getElementById("service");

  if (serviceElement) {
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            // When #service element is in view, create ScrollTriggers
            createScrollTriggers();
          } else {
            // When #service element is out of view, kill ScrollTriggers
            killScrollTriggers();
          }
        });
      },
      {
        threshold: 0.1, // Adjust threshold as needed
      }
    );

    observer.observe(serviceElement);
  }
</script>
