<div id="testimonial" class="max-w-screen-xl mx-auto p-4 py-48">
  <div class="flex flex-col lg:flex-row gap-10">
    <div class="basis-2/5 flex flex-col gap-8">
      <p class="text-base">Why choose us?</p>
      <p class="font-helvetica text-5xl font-bold">
        At Dr. Nathan<br /> Marketing & Consultancy
      </p>
      <p class="text-sm max-w-[400px] text-wrap">
        We specialize in innovative and creative marketing strategies tailored
        specifically for the healthcare industry. Our team includes experienced
        doctors who combine medical expertise with marketing acumen, offering a
        unique advantage. Here are four key benefits of partnering with us.
      </p>
      <div>
        <button
          id="testimonial_contact_us_btn"
          class="hover:cursor-pointer flex flex-row gap-1 items-center"
        >
          <span class="text-base text-primary-900 font-bold">Contact Us</span>
          <span class="h-8 w-8"
            ><svg
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                id="SVGRepo_tracerCarrier"
                stroke-linecap="round"
                stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier">
                <path
                  d="M10 7L15 12L10 17"
                  stroke="#004a7d"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </g></svg
            ></span
          >
        </button>
      </div>
    </div>
    <div
      id="why_us_facts"
      class="basis-3/5 lg:mt-40 flex flex-row gap-5 justify-center overflow-hidden"
    >
      <div class="basis-1/2 flex flex-col gap-5">
        <div
          id="fact_1"
          class="basis-1/2 pt-32 flex flex-col md:flex-row gap-4"
        >
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-12 w-12 text-gray-900 dark:text-gray-50"
            >
              <path d="M16 20V4a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
              <rect width="20" height="14" x="2" y="6" rx="2"></rect>
            </svg>
          </div>
          <div class="flex flex-col gap-2">
            <p class="font-helvetica text-base font-bold">Expert-Led Marketing Strategies</p>
            <p class="text-sm">
              Leverage industry insights to effectively target audiences,
              optimize campaigns, and drive significant business growth and
              brand loyalty.
            </p>
          </div>
        </div>
        <div class="bg-black min-h-1"></div>

        <div
          id="fact_2"
          class="basis-1/2 flex flex-col md:flex-row gap-4 pb-10"
        >
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-12 w-12 text-gray-900 dark:text-gray-50"
            >
              <path d="m3 11 18-5v12L3 14v-3z"></path>
              <path d="M11.6 16.8a3 3 0 1 1-5.8-1.6"></path>
            </svg>
          </div>
          <div class="flex flex-col gap-2">
            <p class="font-helvetica text-base font-bold">Targeted Brand Communication</p>
            <p class="text-sm">
              Enhances customer engagement by delivering personalized messages,
              fostering loyalty, and strengthening brand identity across various
              platforms.
            </p>
          </div>
        </div>
      </div>
      <div class="bg-black min-w-1"></div>
      <div class="basis-1/2 flex flex-col gap-5">
        <div
          id="fact_3"
          class="basis-1/2 flex flex-col md:flex-row gap-4 pt-10"
        >
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-12 w-12 text-gray-900 dark:text-gray-50"
            >
              <path d="M16 21v-2a4 4 0 0 0-4-4H6a4 4 0 0 0-4 4v2"></path>
              <circle cx="9" cy="7" r="4"></circle>
              <path d="M22 21v-2a4 4 0 0 0-3-3.87"></path>
              <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
            </svg>
          </div>
          <div class="flex flex-col gap-2">
            <p class="font-helvetica text-base font-bold">Collaborative Approach</p>
            <p class="text-sm">
              Unites diverse perspectives, fosters innovation, enhances
              teamwork, and drives successful outcomes through shared goals and
              mutual support.
            </p>
          </div>
        </div>
        <div class="bg-black min-h-1"></div>

        <div
          id="fact_4"
          class="basis-1/2 flex flex-col md:flex-row gap-4 pb-32"
        >
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="#000000"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="h-12 w-12 text-gray-900 dark:text-gray-50"
            >
              <path
                d="M4.5 16.5c-1.5 1.26-2 5-2 5s3.74-.5 5-2c.71-.84.7-2.13-.09-2.91a2.18 2.18 0 0 0-2.91-.09z"
              ></path>
              <path
                d="m12 15-3-3a22 22 0 0 1 2-3.95A12.88 12.88 0 0 1 22 2c0 2.72-.78 7.5-6 11a22.35 22.35 0 0 1-4 2z"
              ></path>
              <path d="M9 12H4s.55-3.03 2-4c1.62-1.08 5 0 5 0"></path>
              <path d="M12 15v5s3.03-.55 4-2c1.08-1.62 0-5 0-5"></path>
            </svg>
          </div>
          <div class="flex flex-col gap-2">
            <p class="font-helvetica text-base font-bold">Cutting-Edge Innovation</p>
            <p class="text-sm">
              Propels industries forward, integrating advanced technologies and
              creative solutions to solve complex problems and enhance user
              experiences.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  import gsap from "gsap";

  let tl = gsap.timeline();

  function handleIntersection(
    entries: IntersectionObserverEntry[],
    _: IntersectionObserver
  ) {
    entries.forEach((entry: IntersectionObserverEntry) => {
      if (entry.isIntersecting) {
        tl.from("#fact_3", {
          opacity: 0,
          duration: 0.7,
          x: 100,
        })
          .from("#fact_1", {
            opacity: 0,
            duration: 0.7,
            x: -100,
          })
          .from("#fact_4", {
            opacity: 0,
            duration: 0.7,
            x: 100,
          })
          .from("#fact_2", {
            opacity: 0,
            duration: 0.7,
            x: -100,
          });
        observer.unobserve(target!);
      }
    });
  }

  const observer = new IntersectionObserver(handleIntersection);

  const target = document.getElementById("why_us_facts");

  observer.observe(target!);

  const tcub = document.getElementById("testimonial_contact_us_btn");
  import scrollToElement from "src/utils/scrollToElement";
  if (tcub)
    tcub.addEventListener("click", () => {
      scrollToElement("contact_us");
    });
</script>
