<div class="py-24">
  <div class="flex flex-col max-w-screen-xl mx-auto gap-6 p-4">
    <div class="flex flex-col md:flex-row justify-between gap-10">
      <img
        src="/assets/logo/logo.png"
        class="h-16 w-16 object-contain"
        alt="Dr. Nathan Logo"
      />
      <div class="flex flex-row gap-4 md:gap-14">
        <div class="flex flex-col gap-2">
          <p class="font-helvetica text-base font-semibold tracking-wide">Socials</p>
          <a
            href="https://www.facebook.com/drnathandigitalmarketing?mibextid=LQQJ4d"
            class="text-base tracking-wide">Facebook</a
          >
          <a
            href="https://www.linkedin.com/company/dr-nathan-marketing-and-consultancy/"
            class="text-base tracking-wide">Linkedin</a
          >
          <a
            href="https://www.tiktok.com/@dr.nathanmarketing?_t=8kGJhb2YKfa"
            class="text-base tracking-wide">Tiktok</a
          >
        </div>
        <div class="flex flex-col gap-2">
          <p class="font-helvetica text-base font-semibold tracking-wide">Contact Us</p>
          <p class="text-base tracking-wide">+95 9 776 299 099</p>
          <p class="text-base tracking-wide">info@drnathanmarketing.com</p>
          <p class="text-base tracking-wide">
            No. 143, Botahtaung Pagoda Road, <br />Botahtaung Township, Yangon
          </p>
        </div>
      </div>
    </div>
    <hr />
    <p class="text-xs text-slate-400">
      © 2024 Dr. Nathan Marketing & Consultancy.
    </p>
  </div>
</div>
